<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('./components/header') %>
        <title>Create Blog</title>
</head>

<body>
    <%- include ('./components/navbar') %>
        <div class="container mt-3">
            <form action="/blog/add-new" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="coverImage" class="form-label">Cover Image</label>
                    <input type="file" class="form-control" id="coverImage" name="coverImage" aria-describedby="coverImage">
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="floatingTextarea">Body</label>
                    <textarea class="form-control" name="body" id="body"></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" action="">Upload Blog</button>
                </div>
                </div>
            </form>
        </div>
        <%- include ('./components/scripts') %>
</body>

</html>